html{
    background-color: #212221;
}

h1{
    color: white;
    padding-left: 35%;
    padding-top:100px;
    font-size: 45px;
}

#img_div{
    display:flex;

}

.emotionBar{
    width: 20%;
    height:20%
}
@media screen and (max-width: 600px) {
    #img_div {
      font-size: 10px;
    }
  }